button{
    width: 20%;
    height: 30%;
    font-size: 30px;
    margin: .5rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #00471b;
    color: white;
}

.boton-clic{
    background-color: #002ead;
}

.boton-reiniciar{
    background-color: #5a01a7;
}